@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('ttf'),
  url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.embla__slide {
  position: relative;
  min-width: 25%;
}

.image-container:hover + div {
  opacity: 0;
}
.icon {
  transition: filter 0.5s ease, background-color 0.5s ease;
}

/* Facebook icon */
.facebookIcon {
  filter: none;
}

.facebookIcon:hover {
  filter: invert(31%) sepia(92%) saturate(5780%) hue-rotate(194deg) brightness(100%) contrast(100%);
}

/* Instagram icon */
.instagramIcon {
  filter: none;
}

.instagramIcon:hover {
  filter: invert(35%) sepia(82%) saturate(5471%) hue-rotate(303deg) brightness(97%) contrast(106%);
}

/* TikTok icon */
.tiktokIcon {
  filter: none;
}

.tiktokIcon:hover {
  filter: brightness(1.2) saturate(2) hue-rotate(240deg) drop-shadow(0 0 10px rgba(255, 0, 150, 0.5)) drop-shadow(0 0 20px rgba(0, 255, 255, 0.5));
}